.panier-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .panier-content-display {
    margin-bottom: 4em;

    .panier-content-table {
      .no-content {
        font-size: 1.4em;
      }
      .panier-content-img {
        width: 10em;
        border-radius: 1em 2em;
      }
      .panier-content-name,
      .panier-content-qty,
      .panier-content.price {
        width: 8em;
      }
      button {
        border: none;
        background-color: rgb(117, 10, 10);
        color: antiquewhite;
        font-size: 1.2em;
        width: 1.5em;
        height: 1.5em;
      }
      button:hover {
        cursor: pointer;
      }
      button:active {
        background-color: rgb(243, 151, 151);
      }
    }
    .panier-content-total {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2em;
      font-size: 1.5em;
      p {
        font-weight: bold;
      }
      div {
        button {
          border: none;
          background-color: rgb(241, 179, 62);
          color: rgb(85, 39, 1);
          padding: 0.5em;
          font-size: 0.85em;
          border-radius: 0.5em;
          transition: background-color 0.2s, color 0.2s;
        }
        button:hover {
          cursor: pointer;
          background-color: rgb(85, 39, 1);
          color: rgb(241, 179, 62);
        }
      }
    }
  }
}
