.nav-content {
  background-color: rgb(241, 179, 62);
  ul {
    display: flex;
    align-items: center;
    gap: 5em;
    margin-top: 0;
    padding: 1em 0 1em 2em;
    li {
      list-style-type: none;
      .nav-link {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(85, 39, 1);
      }
      img {
        width: 5em;
      }
    }
  }
}
