.nav-content {
  background-color: rgb(241, 179, 62);
  display: flex;
  justify-content: space-between;
  .nav-content-links {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      gap: 2em;
      margin: 0;
      padding: 0.5em 0 0.5em 2em;
      li {
        list-style-type: none;
        .nav-link {
          text-decoration: none;
          font-size: 1.2em;
          font-weight: bold;
          color: rgb(85, 39, 1);
        }
        img {
          width: 5em;
        }
      }
    }
  }
  .admin-div {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 2em;
      margin: 0;
      padding: 0.5em 0 0.5em 2em;
      li {
        list-style-type: none;
        .nav-link {
          text-decoration: none;
          font-size: 1.2em;
          font-weight: bold;
          color: rgb(212, 52, 31);
        }
        button {
          border: none;
          background-color: rgb(114, 5, 5);
          color: antiquewhite;
          font-size: 0.85em;
          padding: 0.5em;
        }
        button:hover {
          cursor: pointer;
        }
        button:active {
          background-color: rgb(241, 200, 200);
          color: rgb(85, 4, 4);
        }
      }
    }
  }

  .nav-link-panier {
    text-decoration: none;
    color: rgb(85, 39, 1);
    display: flex;
    align-items: center;
    .nav-cart {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      font-weight: bold;
      gap: 0.2em;
      margin-right: 1em;
      transition: color 0.2s;
      img {
        width: 1.6em;
      }
    }
    .nav-cart:hover {
      color: rgb(248, 226, 179);
      cursor: pointer;
    }
  }
}
