.listeplats-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  table {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    margin-bottom: 3em;
    thead {
      display: flex;
      th {
        text-align: left;
        padding: 0 1em;
        .table-head-name {
          display: flex;
          gap: 0.5em;
          width: 10em;
          font-weight: bold;
          button {
            border: none;
            background-color: white;
          }
          button:hover {
            cursor: pointer;
          }
        }
        .table-head-description {
          width: 20em;
        }
        .table-head-country {
          width: 8em;
        }
        .table-head-category {
          width: 8em;
        }
        .table-head-price {
          width: 5em;
        }
      }
    }
    tbody {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
