.listeplats-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  table {
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    margin-bottom: 3em;
    thead {
      display: flex;
      justify-content: space-between;
      th {
        text-align: left;
        font-size: 1.3em;
      }
    }
    tbody {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
