.ajoutplat-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 3em;
  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2em;
    .form-field {
      display: flex;
      justify-content: space-between;
      gap: 2em;
      input,
      textarea,
      select {
        width: 18em;
      }
      textarea {
        height: 10em;
      }
    }
  }
}
